#button-container

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: pink;
}